#index {
  padding: 0 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#index-img {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container {
  padding: 0;
}

#login-container-title {
  margin-bottom: 0.5em;
  height: 7em;

  /* Centering */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#infoContainer {
  margin-top: 5em;
  max-width: 75%;
}

p {
  font-size: 1.3em;
}

.lead {
  margin-top: 0.5em;
  justify-content: center;
  font-weight: 400;
}

.justifyAround {
  justify-content: space-around;
}

@media screen and (min-width: 651px) and (max-width: 1080px) {
  #index {
    flex-direction: column;
  }

  #login-container {
    margin: 50px auto;
  }

  h1 {
    text-align: center;
  }

  .login-text {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
}
