body {
  margin: 0;
  padding: 0;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity));
}

hr {
  color: #28a745;
}

#content-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

#content-container > div {
  padding: 1rem;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#content-container > h1 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 400;
}

#content-container > div > p {
  font-size: calc(0.55rem + 1.5vw);
  font-weight: 100;
}

#content-container > div > p:nth-of-type(2) {
  margin-bottom: 0.5em;
}

.main-page-btn {
  display: inline-block;
  margin: 1em auto;
  padding: 1em 2em;
  font-size: 1.2em;
  background-color: #28a745;
  color: #ffffff;
  border-radius: 0.5em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #28a74500;
}

.main-page-btn:hover {
  background-color: #ffffff;
  color: #28a745;
  border: 2px solid #28a745;
  text-decoration: none;
}

.button-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.button-container > a {
  margin: 0.3em auto;
  padding: 2% 5%;
  font-size: calc(0.6rem + 1.2vw);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

#questions-list div {
  max-width: 100%;
}

#bookmarked-questions {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  row-gap: 1em;
}

#bookmarked-questions > a {
  margin: 0 1.3rem;
  display: block;
  width: 100%;
  border: 2px solid #28a745;
  border-radius: 1em;
  text-align: left;
  padding: 0.5em;
}

.questionTitle {
  padding: 0;
  font-size: calc(0.6rem + 1.5vw);
  text-align: center;
  font-weight: 200;
}

.questionMetadata {
  font-size: calc(0.7rem + 0.5vw);
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  color: #616161;
}

.noBookmarksMessage {
  font-size: calc(0.9rem + 1vw);
}

/* Inherited from mainWithBrowse.css. */
.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-page > div {
  float: left;
  padding: 40px 20px;
  margin: 0 20px;
}

.card,
.card-body,
.card-title,
.card-text {
  text-align: left;
}

/* End of inheritance */

#responsive-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 130px auto 200px 15px;
  grid-template-areas:
    "leftnav intro bookmark ."
    "leftnav browse bookmark .";
}

.section-1 {
  grid-area: leftnav;
}

#content-container {
  max-width: 90%;
  padding: 0;
  grid-area: intro;
}

#browse-questions {
  max-width: 90%;
  padding: 0;
  grid-area: browse;
}

#browse-questions > h2 {
  margin: 0 0 2rem 0;
  font-size: calc(1.275rem + 1.7vw);
  font-weight: 400;
}

#bookmarks-container {
  width: 100%;
  padding: 0;
  grid-area: bookmark;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  row-gap: 1em;
}

#bookmarks-container > div > h2 {
  margin: 1rem 0;
  font-size: calc(1.275rem + 1.7vw);
  font-weight: 400;
  display: block;
}

#bookmarks-container > div > p > a {
  color: #28a745;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .main-page {
    flex-direction: column;
  }

  .section-1 {
    display: none;
  }

  .main-page .section-3 {
    width: auto;
  }

  #responsive-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "intro"
      "bookmarks"
      "browse";
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    row-gap: 1em;
  }

  #content-container {
    grid-area: intro;
  }

  #bookmarks-container {
    grid-area: bookmarks;
  }

  #bookmarked-questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 1em;
  }

  #bookmarked-questions > a > div:first-child {
    font-size: calc(0.75rem + 1.7vw);
    font-weight: 400;
  }

  #bookmarks-container > div:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #browse-questions {
    grid-area: browse;
  }
}

@media screen and (min-width: 651px) and (max-width: 1080px) {
  #bookmarked-questions > a {
    margin: 0;
    box-sizing: border-box;
  }

  #responsive-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-areas:
      "leftnav intro"
      "leftnav bookmark"
      "leftnav browse";
  }

  #bookmarked-questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 1em;
  }

  .main-page .section-1 {
    margin: 6rem 0 auto 10%;
    padding: 0 0.5rem 0 0;
    width: 100%;
  }
}

@media screen and (min-width: 1081px) {
  #bookmarked-questions > a {
    margin: 0;
    box-sizing: border-box;
  }

  #responsive-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 200px auto 280px 30px;
    grid-template-areas:
      "leftnav intro bookmark ."
      "leftnav browse bookmark .";
  }

  .main-page .section-1 {
    margin: 6rem 0 auto 10%;
    padding: 0 0.5rem 0 0;
    width: 100%;
  }
}
