:root {
  --main-color: #ad21d0;
  --faint-color: #b664cb;
  --main-color-dark: #711189;
}

h1,
h2,
h3,
h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h1 {
  font-weight: bold;
}

#navDropdown {
  z-index: 1000;
  position: absolute;
  background-color: rgb(248, 249, 250);
  border-radius: 0 0 0.375rem 0.375rem;
}

#navDropdown > div {
  width: 100%;
  overflow: hidden;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

#navSearchbar:focus {
  border-radius: 0.375rem 0.375rem 0 0;
  box-shadow: none;
  border: var(--main-color) solid 2px;
}

#navDropdown > div:not(:last-child) {
  border-bottom: #ddd solid 2px;
  border-left: var(--main-color) solid 2px;
  border-right: var(--main-color) solid 2px;
}

#navDropdown > div:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
  border-left: var(--main-color) solid 2px;
  border-right: var(--main-color) solid 2px;
  border-bottom: var(--main-color) solid 2px;
}

#navBarTemplate {
  margin: 0 1em;
}

#navItemsContainer {
  flex-wrap: nowrap;
}

#navSearchbarContainer {
  width: 100%;
  margin-right: 1em;
}

#navSearchbar {
  transition: border-radius 500ms, border 100ms;
}

#navbarLogo {
  display: block;
  margin-left: 1em;
  height: 3em;
}

#search-form {
  min-width: 17rem;
  max-width: 50rem;
  width: 60%;
  margin: 0 1em;
}

.nav-link {
  color: var(--main-color-dark);
}

.nav-link:hover {
  color: var(--faint-color);
}

.hideLink {
  text-decoration: inherit;
  color: inherit;
}

.containerRow {
  display: flex;
  justify-content: center;
}

.button,
.redButton,
.greenButton {
  padding: 0.5em 1em;
  font-size: 1.25em;
  border-radius: 0.5em;
  transition: background-color 0.15s ease-in-out;
  border: none;
}

.custom-btn,
.custom-btn-nomargin,
.search-btn {
  display: inline-block;
  margin: 1em auto;
  padding: 0.6em 1.5em;
  font-size: 1.2em;
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 0.5em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #00000000;
}

.custom-btn:hover,
.custom-btn-nomargin:hover,
.search-btn:hover {
  background-color: #ffffff;
  color: var(--main-color);
  border: 2px solid var(--faint-color);
  text-decoration: none;
}

.search-btn {
  font-size: 1em;
  margin: 0;
  padding: 0 0.8em;
}

.custom-btn-nomargin {
  font-size: 1.2em;
  margin: 0;
  padding: 0.2em 1em;
}

.btn-gray {
  background-color: #555;
}

.btn-gray:hover {
  color: #555;
  border: 2px solid #555;
}

.btn-red {
  background-color: #d22;
}

.btn-red:hover {
  color: #d22;
  border: 2px solid #d22;
}

.btn-green {
  background-color: #1f955e;
}

.btn-green:hover {
  color: #198754;
  border: 2px solid #198754;
}

.card {
  border: 2px solid var(--faint-color);
}

.button {
  background-color: rgb(210, 210, 210);
}

.button:hover {
  background-color: rgb(138, 138, 138);
}

.redButton {
  background-color: #d22;
  color: white;
}

.redButton:hover {
  background-color: #b11;
}

.greenButton {
  background-color: #198754;
  color: white;
}

.greenButton:hover {
  background-color: #13653f;
}

.tag {
  display: inline-block;
  margin: 2px;
  padding: 4px 8px;
  background-color: var(--main-color);
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
}

@media screen and (max-width: 651px) {
  #navbarLogo {
    display: none;
  }
}
