#ask-question-button {
  display: inline-block;
  margin: 1em auto;
  padding: 1em 2em;
  font-size: 1.2em;
  background-color: #28a745;
  color: #ffffff;
  border-radius: 0.5em;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #28a74500;
}

#ask-question-button:hover {
  background-color: #ffffff;
  color: #28a745;
  border: 2px solid #28a745;
  text-decoration: none;
}

.button-container {
  margin: 1em auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
