.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-page > div {
    float: left;
    padding: 40px 20px;
    margin: 0 20px;
}

.main-page > .section-2 {
    width: 50%;
}

.main-page .section-1,.section-3 {
    width: 25%;
}

.card {
    text-align: left; /* Ensure all text inside the card is left-aligned */
  }
  
  .card-body {
    text-align: left; /* Specifically ensure the card body content is left-aligned */
  }
  
  .card-title,
  .card-text {
    text-align: left; /* Ensure titles and other text elements are also left-aligned */
  }