h1, h2, h3, h4{
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h1 {
  font-weight: bold;
}

#navDropdown {
  width: 20em;
  position: fixed;
  background-color: rgb(248, 249, 250);
  border-radius: 0 0 0.375rem 0.375rem;
}

#navDropdown>div {
  width: 100%;
  overflow: hidden;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}

#navSearchbar:focus {
  border-radius: 0.375rem 0.375rem 0 0;
  box-shadow: none;
  border: #86b7fe solid 2px;
}

#navDropdown>div:not(:last-child) {
  border-bottom: #ddd solid 2px;
  border-left: #86b7fe solid 2px;
  border-right: #86b7fe solid 2px;
}

#navDropdown>div:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
  border-left: #86b7fe solid 2px;
  border-right: #86b7fe solid 2px;
  border-bottom: #86b7fe solid 2px;
}

#navBarTemplate {
  margin: 0 1em;
}

#navItemsContainer {
  flex-wrap: nowrap;
}

#navSearchbarContainer {
  width: 100%;
  margin-right: 1em;
}

#navSearchbar {
  transition: border-radius 500ms, border 100ms;
}

#search-form {
  min-width: 17rem;
  max-width: 50rem;
  width: 60%;
  margin: 0 1em;
}

.hideLink {
  text-decoration: inherit;
  color: inherit;
}

.containerRow {
  display: flex;
  justify-content: center;
}

.button,
.redButton,
.greenButton {
  padding: 0.5em 1em;
  font-size: 1.25em;
  border-radius: 0.5em;
  transition: background-color 0.15s ease-in-out;
  border: none;
}

.button {
  background-color: rgb(210, 210, 210);
}

.button:hover {
  background-color: rgb(138, 138, 138);
}

.redButton {
  background-color: #d22;
  color: white;
}

.redButton:hover {
  background-color: #b11;
}

.greenButton {
  background-color: #198754;
  color: white;
}

.greenButton:hover {
  background-color: #13653f;
}