.submit-box {
    border: 3px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 700px;
}

.submit-box button {
    width: 100%;
}

.submit-box textarea {
    width: 100%;
    min-height: 300px;
}